@charset "UTF-8";
/* scss関数群
------------------------------------------ */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
  color: #111;
}

a {
  text-decoration: none;
  color: black;
}

li,
ol {
  list-style: none;
}

.header {
  width: 100%;
  height: 16.1538461538vw;
  padding-left: 4.1025641026vw;
  padding-right: 4.1025641026vw;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .header {
    height: min(9.1935483871vw, 7.125rem);
    padding-left: 0;
    padding-right: 0;
  }
}
.header__wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    width: min(94.3548387097vw, 73.125rem);
  }
}
.header__img {
  width: 50.5128205128vw;
  height: 5.8974358974vw;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__img {
    width: min(21.2096774194vw, 16.4375rem);
    height: min(2.4193548387vw, 1.875rem);
  }
}
.header-menu__img {
  width: 6.1538461538vw;
  height: 4.6153846154vw;
  margin-top: 2.3076923077vw;
}
@media screen and (min-width: 768px) {
  .header-menu__img {
    display: none;
  }
}
.header .js-menu {
  display: none;
  width: 91.7948717949vw;
  height: 53.8461538462vw;
  background-color: #168352;
  z-index: 11;
  position: absolute;
  top: 16.1538461538vw;
  left: 0;
  border-radius: 6.1538461538vw;
  padding-top: 2.5641025641vw;
}
.header .js-menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15.3846153846vw;
}
.header .js-menu a {
  color: #fff;
  font-size: 4.6153846154vw;
  font-weight: 700;
  display: block;
  width: 100%;
  text-align: center;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .header__nav ul {
    display: flex;
    gap: min(3.064516129vw, 2.375rem);
  }
}
@media screen and (min-width: 768px) {
  .header__nav a {
    font-size: min(1.2903225806vw, 1rem);
    font-weight: 700;
  }
}

.top {
  margin-top: 16.1538461538vw;
  margin-bottom: 11.2820512821vw;
  width: 100%;
  padding-left: 4.1025641026vw;
  padding-right: 4.1025641026vw;
  padding-top: 2.3076923077vw;
}
@media screen and (min-width: 768px) {
  .top {
    margin-top: min(9.1935483871vw, 7.125rem);
    padding-top: min(3.064516129vw, 2.375rem);
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.top__wrapper {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .top__wrapper {
    width: min(94.3548387097vw, 73.125rem);
  }
}
.top__title {
  margin-bottom: 6.6666666667vw;
}
@media screen and (min-width: 768px) {
  .top__title {
    margin-bottom: 0;
    display: flex;
    padding-left: min(2.7419354839vw, 2.125rem);
    padding-right: min(2.7419354839vw, 2.125rem);
    justify-content: space-between;
  }
}
.top__title span:nth-of-type(1) {
  font-size: 7.1794871795vw;
  font-weight: 700;
  display: block;
}
@media screen and (min-width: 768px) {
  .top__title span:nth-of-type(1) {
    font-size: min(3.2258064516vw, 2.5rem);
    width: min(37.0967741935vw, 28.75rem);
  }
}
.top__title span:nth-of-type(2) {
  font-size: 3.8461538462vw;
  display: block;
  margin-top: 3.8461538462vw;
}
@media screen and (min-width: 768px) {
  .top__title span:nth-of-type(2) {
    width: min(42.7419354839vw, 33.125rem);
    margin-top: min(0.7258064516vw, 0.5625rem);
    font-size: min(1.2096774194vw, 0.9375rem);
  }
}
@media screen and (min-width: 768px) {
  .top-br-sp {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .top__picture {
    width: min(94.3548387097vw, 73.125rem);
    margin: min(4.8387096774vw, 3.75rem) auto min(3.8709677419vw, 3rem);
  }
}
.top__img {
  width: 91.7948717949vw;
  height: 115.3846153846vw;
}
@media screen and (min-width: 768px) {
  .top__img {
    width: min(94.1129032258vw, 72.9375rem);
    height: min(44.3548387097vw, 34.375rem);
  }
}

.about {
  width: 100%;
}
.about__wrapper {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .about__wrapper {
    width: min(94.3548387097vw, 73.125rem);
    padding-bottom: min(5vw, 3.875rem);
  }
}
.about__title {
  text-align: center;
}
.about__title span:nth-of-type(1) {
  font-size: 4.1025641026vw;
  font-weight: 600;
  font-family: "Montserrat", serif;
  color: #168352;
  display: block;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .about__title span:nth-of-type(1) {
    font-size: min(1.6129032258vw, 1.25rem);
    line-height: 1.6;
  }
}
.about__title span:nth-of-type(2) {
  font-size: 5.1282051282vw;
  font-weight: 700;
  display: block;
  line-height: 1.45;
  margin-bottom: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .about__title span:nth-of-type(2) {
    font-size: min(2.2580645161vw, 1.75rem);
    line-height: 1.55;
    margin-bottom: min(1.6129032258vw, 1.25rem);
  }
}
.about__container {
  width: 100%;
  background-image: url(/assets/image/about_sp.jpg);
  background-position: center;
  background-size: cover;
  padding: 8.2051282051vw 4.1025641026vw 8.2051282051vw 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  .about__container {
    background-image: unset;
    background-position: unset;
    background-size: unset;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-around;
  }
}
.about__desc {
  width: 91.7948717949vw;
  margin: 0 auto;
  padding: 3.8461538462vw 4.6153846154vw 4.6153846154vw 4.6153846154vw;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8.2051282051vw;
}
@media screen and (min-width: 768px) {
  .about__desc {
    background-color: unset;
    width: min(33.0346774194vw, 25.601875rem);
    margin: 0;
    padding: 0;
    padding-top: min(0.3225806452vw, 0.25rem);
    padding-left: min(1.2096774194vw, 0.9375rem);
  }
}
.about-desc__title {
  font-size: 4.6153846154vw;
  font-weight: 700;
  width: 78.3333333333vw;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .about-desc__title {
    font-size: min(1.6129032258vw, 1.25rem);
    width: min(33.0346774194vw, 25.601875rem);
    margin-bottom: min(1.935483871vw, 1.5rem);
  }
}
.about-br-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .about-br-pc {
    display: block;
  }
}
.about-desc__text {
  font-size: 3.8461538462vw;
  width: 78.3333333333vw;
  margin: 2.0512820513vw auto 0;
}
@media screen and (min-width: 768px) {
  .about-desc__text {
    width: min(33.0346774194vw, 25.601875rem);
    font-size: min(1.2096774194vw, 0.9375rem);
    margin: 0;
  }
}
.about__img {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__img {
    display: block;
    width: min(31.4516129032vw, 24.375rem);
    height: min(45.9677419355vw, 35.625rem);
    border-radius: min(3.2258064516vw, 2.5rem);
    margin-right: min(2.4193548387vw, 1.875rem);
    margin-top: min(0.6451612903vw, 0.5rem);
  }
}

.feature {
  width: 100%;
  padding: 12.8205128205vw 4.1025641026vw 15.3846153846vw 4.1025641026vw;
  background-color: #f3f9f6;
}
@media screen and (min-width: 768px) {
  .feature {
    padding: min(4.5161290323vw, 3.5rem) 0 min(5vw, 3.875rem) 0;
  }
}
.feature__wrapper {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .feature__wrapper {
    width: min(94.3548387097vw, 73.125rem);
  }
}
.feature__title {
  text-align: center;
}
.feature__title span:nth-of-type(1) {
  font-size: 4.1025641026vw;
  font-weight: 600;
  font-family: "Montserrat", serif;
  color: #168352;
  display: block;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .feature__title span:nth-of-type(1) {
    font-size: min(1.6129032258vw, 1.25rem);
    line-height: 1.6;
  }
}
.feature__title span:nth-of-type(2) {
  font-size: 5.1282051282vw;
  font-weight: 700;
  display: block;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .feature__title span:nth-of-type(2) {
    font-size: min(2.2580645161vw, 1.75rem);
    line-height: 1.7;
  }
}
.feature__container {
  padding-top: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .feature__container {
    display: flex;
    padding-top: min(1.8548387097vw, 1.4375rem);
    gap: min(2.4193548387vw, 1.875rem);
  }
}
.feature__card:nth-of-type(2) {
  margin-top: 5.1282051282vw;
  margin-bottom: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .feature__card:nth-of-type(2) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.feature__card {
  width: 91.7948717949vw;
  height: 74.1025641026vw;
  border-radius: 6.1538461538vw;
  box-shadow: 0 0.2564102564vw #d2d4d3;
}
@media screen and (min-width: 768px) {
  .feature__card {
    width: min(29.7580645161vw, 23.0625rem);
    height: min(25.7258064516vw, 19.9375rem);
    border-radius: min(1.935483871vw, 1.5rem);
    box-shadow: 0 min(0.0806451613vw, 0.0625rem) #d2d4d3;
  }
}
.feature__picture {
  width: 91.7948717949vw;
  height: 51.5384615385vw;
  border-radius: 6.1538461538vw 6.1538461538vw 0 0;
}
@media screen and (min-width: 768px) {
  .feature__picture {
    width: min(29.7580645161vw, 23.0625rem);
    height: min(18.2258064516vw, 14.125rem);
    border-radius: min(1.935483871vw, 1.5rem) min(1.935483871vw, 1.5rem) 0 0;
  }
}
.feature__img {
  width: 91.7948717949vw;
  height: 51.5384615385vw;
  border-radius: 6.1538461538vw 6.1538461538vw 0 0;
}
@media screen and (min-width: 768px) {
  .feature__img {
    width: min(29.7580645161vw, 23.0625rem);
    height: min(18.2258064516vw, 14.125rem);
    border-radius: min(1.935483871vw, 1.5rem) min(1.935483871vw, 1.5rem) 0 0;
  }
}
.feature__text {
  height: 22.5641025641vw;
  background-color: #fff;
  border-radius: 0 0 6.1538461538vw 6.1538461538vw;
  font-size: 4.6153846154vw;
  font-weight: 700;
  padding-top: 3.0769230769vw;
  padding-left: 4.358974359vw;
  padding-right: 4.358974359vw;
}
@media screen and (min-width: 768px) {
  .feature__text {
    height: min(7.5vw, 5.8125rem);
    border-radius: 0 0 min(1.935483871vw, 1.5rem) min(1.935483871vw, 1.5rem);
    font-size: min(1.5322580645vw, 1.1875rem);
    padding: min(0.9193548387vw, 0.7125rem) min(1.6129032258vw, 1.25rem) 0 min(1.7258064516vw, 1.3375rem);
  }
}

.product {
  width: 100%;
  padding-top: 11.7948717949vw;
  padding-left: 4.1025641026vw;
  padding-right: 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  .product {
    padding: min(4.435483871vw, 3.4375rem) 0 min(0.9677419355vw, 0.75rem) 0;
  }
}
.product__wrapper {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 8.7179487179vw;
}
@media screen and (min-width: 768px) {
  .product__wrapper {
    width: min(94.3548387097vw, 73.125rem);
    padding-bottom: min(2.7419354839vw, 2.125rem);
  }
}
.product__title {
  text-align: center;
  padding-top: 1.0256410256vw;
  padding-bottom: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .product__title {
    padding-top: min(0.3225806452vw, 0.25rem);
    padding-bottom: min(1.6129032258vw, 1.25rem);
  }
}
.product-title__first {
  font-size: 4.1025641026vw;
  font-weight: 600;
  font-family: "Montserrat", serif;
  color: #168352;
  display: block;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .product-title__first {
    font-size: min(1.6129032258vw, 1.25rem);
    line-height: 1.6;
  }
}
.product__title span:nth-of-type(1) > span {
  margin-left: 1.2820512821vw;
  margin-right: 1.2820512821vw;
}
@media screen and (min-width: 768px) {
  .product__title span:nth-of-type(1) > span {
    margin-left: min(0.4032258065vw, 0.3125rem);
    margin-right: min(0.4032258065vw, 0.3125rem);
  }
}
.product__title span:nth-of-type(2) {
  font-size: 5.1282051282vw;
  font-weight: 700;
  display: block;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .product__title span:nth-of-type(2) {
    font-size: min(2.2580645161vw, 1.75rem);
    line-height: 1.8;
  }
}
@media screen and (min-width: 768px) {
  .product__container {
    display: flex;
    justify-content: center;
    gap: min(4.0322580645vw, 3.125rem);
  }
}
.product__card {
  width: 91.7948717949vw;
  height: 35.8974358974vw;
  display: block;
  border-radius: 6.1538461538vw;
  background-color: #168352;
  padding-left: 6.1538461538vw;
  gap: 4.358974359vw;
  display: flex;
  align-items: center;
  margin-bottom: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .product__card {
    width: min(28.8709677419vw, 22.375rem);
    height: min(11.2903225806vw, 8.75rem);
    display: block;
    border-radius: min(1.935483871vw, 1.5rem);
    background-color: #168352;
    padding-left: min(1.935483871vw, 1.5rem);
    gap: min(1.3709677419vw, 1.0625rem);
    display: flex;
    align-items: center;
    margin-bottom: min(1.6129032258vw, 1.25rem);
  }
}
.product__card:hover {
  background-color: #dffaec;
}
.product__card:hover .product__text {
  color: #168352;
}
@media screen and (min-width: 768px) {
  .product__container:nth-of-type(1) .product__card {
    width: min(42.3387096774vw, 32.8125rem);
    height: min(14.5161290323vw, 11.25rem);
    border-radius: min(1.935483871vw, 1.5rem);
    margin-bottom: min(3.2258064516vw, 2.5rem);
    padding-left: min(2.4193548387vw, 1.875rem);
  }
}
@media screen and (min-width: 768px) {
  .product__container:nth-of-type(2) .product__card {
    width: min(26.8548387097vw, 20.8125rem);
    height: min(12.0967741935vw, 9.375rem);
    border-radius: min(1.935483871vw, 1.5rem);
  }
}
.product__picture {
  border-radius: 50%;
  padding-top: 2.5641025641vw;
}
@media screen and (min-width: 768px) {
  .product__picture {
    padding-top: min(0.8064516129vw, 0.625rem);
  }
}
.product__img {
  border-radius: 50%;
  width: 25.641025641vw;
  height: 25.641025641vw;
}
@media screen and (min-width: 768px) {
  .product__container:nth-of-type(1) .product__img {
    border-radius: 50%;
    width: min(10.7258064516vw, 8.3125rem);
    height: min(10.7258064516vw, 8.3125rem);
  }
}
@media screen and (min-width: 768px) {
  .product__container:nth-of-type(2) .product__img {
    border-radius: 50%;
    width: min(8.8709677419vw, 6.875rem);
    height: min(8.8709677419vw, 6.875rem);
  }
}
.product__text {
  font-size: 4.6153846154vw;
  font-weight: 700;
  color: #fff;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .product__text {
    font-size: min(1.4516129032vw, 1.125rem);
  }
}
@media screen and (min-width: 768px) {
  .product__container:nth-of-type(1) .product__text {
    font-size: min(1.935483871vw, 1.5rem);
    width: min(17.4193548387vw, 13.5rem);
    margin-left: min(1.0483870968vw, 0.8125rem);
  }
}
.product__container:nth-of-type(2) .product__text {
  width: 46.1538461538vw;
}
@media screen and (min-width: 768px) {
  .product__container:nth-of-type(2) .product__text {
    font-size: min(1.6129032258vw, 1.25rem);
    width: min(12.5806451613vw, 9.75rem);
    margin-left: min(0.3225806452vw, 0.25rem);
  }
}
@media screen and (min-width: 768px) {
  .product-br-sp {
    display: none;
  }
}

.case {
  width: 100%;
  padding: 13.8461538462vw 4.1025641026vw 12.8205128205vw 4.1025641026vw;
  background-color: #f3f9f6;
}
@media screen and (min-width: 768px) {
  .case {
    padding: min(4.3548387097vw, 3.375rem) min(1.2903225806vw, 1rem) min(4.8387096774vw, 3.75rem) min(1.2903225806vw, 1rem);
  }
}
.case__wrapper {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .case__wrapper {
    width: min(94.3548387097vw, 73.125rem);
  }
}
.case__title {
  text-align: center;
  padding-bottom: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .case__title {
    padding-bottom: min(1.6129032258vw, 1.25rem);
  }
}
.case__title span:nth-of-type(1) {
  font-size: 4.1025641026vw;
  font-weight: 600;
  font-family: "Montserrat", serif;
  color: #168352;
  display: block;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .case__title span:nth-of-type(1) {
    font-size: min(1.6129032258vw, 1.25rem);
    line-height: 1.6;
  }
}
.case__title span:nth-of-type(2) {
  font-size: 5.1282051282vw;
  font-weight: 700;
  display: block;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .case__title span:nth-of-type(2) {
    font-size: min(2.2580645161vw, 1.75rem);
    line-height: 1.65;
  }
}
@media screen and (min-width: 768px) {
  .case__container {
    display: flex;
    justify-content: center;
    gap: min(2.4193548387vw, 1.875rem);
    margin-top: min(0.4032258065vw, 0.3125rem);
  }
}
.case__card {
  width: 91.7948717949vw;
}
@media screen and (min-width: 768px) {
  .case__card {
    width: min(29.7580645161vw, 23.0625rem);
  }
}
.case__card:nth-of-type(2) {
  margin-top: 7.1794871795vw;
  margin-bottom: 6.6666666667vw;
}
@media screen and (min-width: 768px) {
  .case__card:nth-of-type(2) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.case__img {
  width: 91.7948717949vw;
  height: 51.5384615385vw;
  border-radius: 1.5384615385vw;
}
@media screen and (min-width: 768px) {
  .case__img {
    width: min(29.7580645161vw, 23.0625rem);
    height: min(18.2258064516vw, 14.125rem);
    border-radius: min(1.6129032258vw, 1.25rem);
  }
}
.case__text {
  font-size: 4.6153846154vw;
  font-weight: 700;
  color: #09947b;
  letter-spacing: 0.01em;
  padding-left: 0.2564102564vw;
}
@media screen and (min-width: 768px) {
  .case__text {
    font-size: min(1.5322580645vw, 1.1875rem);
    padding-left: 0;
    padding-top: min(0.0806451613vw, 0.0625rem);
  }
}

.announce {
  width: 100%;
  padding: 12.8205128205vw 4.1025641026vw 15.3846153846vw 4.1025641026vw;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .announce {
    padding: min(4.5161290323vw, 3.5rem) min(1.2903225806vw, 1rem) min(5.6451612903vw, 4.375rem) min(1.2903225806vw, 1rem);
  }
}
.announce__wrapper {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .announce__wrapper {
    width: min(94.3548387097vw, 73.125rem);
  }
}
.announce__title {
  text-align: center;
  padding-bottom: 5.641025641vw;
}
@media screen and (min-width: 768px) {
  .announce__title {
    padding-bottom: min(2.0967741935vw, 1.625rem);
  }
}
.announce__title span:nth-of-type(1) {
  font-size: 4.1025641026vw;
  font-weight: 600;
  font-family: "Montserrat", serif;
  color: #168352;
  display: block;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .announce__title span:nth-of-type(1) {
    font-size: min(1.6129032258vw, 1.25rem);
    line-height: 1.6;
  }
}
.announce__title span:nth-of-type(2) {
  font-size: 5.1282051282vw;
  font-weight: 700;
  display: block;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .announce__title span:nth-of-type(2) {
    font-size: min(2.2580645161vw, 1.75rem);
    line-height: 1.55;
  }
}
@media screen and (min-width: 768px) {
  .announce__container {
    width: min(72.5806451613vw, 56.25rem);
    margin: 0 auto min(2.5vw, 1.9375rem);
  }
}
.announce__card {
  height: 29.7435897436vw;
  border-top: 1px solid #ddd;
  padding-top: 3.5897435897vw;
}
@media screen and (min-width: 768px) {
  .announce__card {
    height: min(4.9193548387vw, 3.8125rem);
    padding-top: min(1.1290322581vw, 0.875rem);
    display: flex;
    gap: min(1.8548387097vw, 1.4375rem);
  }
}
@media screen and (min-width: 768px) {
  .announce__card:nth-of-type(6) {
    border-bottom: 1px solid #ddd;
  }
}
.announce__inner {
  display: flex;
}
@media screen and (min-width: 768px) {
  .announce__inner {
    gap: min(1.5322580645vw, 1.1875rem);
  }
}
.announce__date {
  font-size: 3.8461538462vw;
}
@media screen and (min-width: 768px) {
  .announce__date {
    font-size: min(1.1290322581vw, 0.875rem);
  }
}
.announce__category {
  background-color: #473221;
  color: #fff;
  width: 34.358974359vw;
  height: 7.1794871795vw;
  border-radius: 1.0256410256vw;
  font-size: 3.3333333333vw;
  margin-top: 0.5128205128vw;
  margin-left: 4.1025641026vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .announce__category {
    width: min(10.8064516129vw, 8.375rem);
    height: min(2.2580645161vw, 1.75rem);
    border-radius: min(0.3225806452vw, 0.25rem);
    font-size: min(1.0483870968vw, 0.8125rem);
    margin-top: 0;
    margin-left: 0;
  }
}
.announce__text {
  font-size: 3.8461538462vw;
  font-weight: 700;
  color: #09947b;
  display: block;
  padding-top: 2.0512820513vw;
}
@media screen and (min-width: 768px) {
  .announce__text {
    font-size: min(1.2096774194vw, 0.9375rem);
    padding-top: 0;
  }
}
.announce__card:nth-of-type(6) .announce__text {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2.8205128205vw;
}
@media screen and (min-width: 768px) {
  .announce__card:nth-of-type(6) .announce__text {
    padding-bottom: min(0.8870967742vw, 0.6875rem);
    border-bottom: none;
  }
}
.announce__btn a {
  background-color: #09947b;
  border-radius: 8.4615384615vw;
  display: block;
  width: 76.9230769231vw;
  height: 16.9230769231vw;
  color: #fff;
  font-size: 4.6153846154vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 1.2820512821vw #066655;
}
@media screen and (min-width: 768px) {
  .announce__btn a {
    border-radius: min(2.6612903226vw, 2.0625rem);
    width: min(24.1935483871vw, 18.75rem);
    height: min(5.3225806452vw, 4.125rem);
    font-size: min(1.4516129032vw, 1.125rem);
    box-shadow: 0 min(0.4032258065vw, 0.3125rem) #066655;
  }
}
.announce__btn a:hover {
  box-shadow: 0 0.5128205128vw #066655;
  transform: translateY(0.7692307692vw);
}
@media screen and (min-width: 768px) {
  .announce__btn a:hover {
    box-shadow: 0 min(0.1612903226vw, 0.125rem) #066655;
    transform: translateY(min(0.2419354839vw, 0.1875rem));
  }
}

.footer {
  width: 100%;
  height: 17.4358974359vw;
  background-color: #168352;
}
@media screen and (min-width: 768px) {
  .footer {
    height: min(7.7419354839vw, 6rem);
  }
}
.footer__wrapper {
  width: 55.1282051282vw;
  height: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    width: min(94.3548387097vw, 73.125rem);
  }
}
.footer__wrapper ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.footer__wrapper ul li {
  font-size: 3.3333333333vw;
  color: #fff;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__wrapper ul li {
    font-size: min(1.2096774194vw, 0.9375rem);
    padding-left: min(0.2419354839vw, 0.1875rem);
  }
}
@media screen and (min-width: 768px) {
  .footer__wrapper ul li:nth-of-type(3) {
    font-size: min(1.1290322581vw, 0.875rem);
  }
}
.footer__wrapper ul li:nth-of-type(2) {
  margin-left: 3.5897435897vw;
  margin-right: 3.5897435897vw;
}
@media screen and (min-width: 768px) {
  .footer__wrapper ul li:nth-of-type(2) {
    margin-left: min(1.1290322581vw, 0.875rem);
    margin-right: min(1.1290322581vw, 0.875rem);
  }
}
.footer__wrapper ul li a {
  color: #fff;
}

.price-header {
  color: #168352;
}

.price-top {
  margin-top: 16.1538461538vw;
  margin-bottom: 6.1538461538vw;
  padding-left: min(1.1290322581vw, 0.875rem);
  padding-right: min(1.1290322581vw, 0.875rem);
  width: 100%;
  padding-top: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .price-top {
    margin-top: min(9.1935483871vw, 7.125rem);
    padding-top: min(3.064516129vw, 2.375rem);
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.price-top__wrapper {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .price-top__wrapper {
    width: min(96.7741935484vw, 75rem);
    position: relative;
  }
}
.price-top__img {
  width: 91.7948717949vw;
  height: 58.9743589744vw;
  display: block;
  margin: 0 auto 4.6153846154vw;
}
@media screen and (min-width: 768px) {
  .price-top__img {
    width: min(96.7741935484vw, 75rem);
    height: min(44.3548387097vw, 34.375rem);
    margin-bottom: 0;
  }
}
.price-top__title {
  margin-bottom: 4.358974359vw;
  font-size: 7.6923076923vw;
  padding-left: 3.0769230769vw;
}
@media screen and (min-width: 768px) {
  .price-top__title {
    margin-bottom: 0;
    font-size: min(2.9032258065vw, 2.25rem);
    font-weight: 700;
    width: min(27.0161290323vw, 20.9375rem);
    height: min(9.1129032258vw, 7.0625rem);
    background-color: #fff;
    border-radius: 0 min(3.2258064516vw, 2.5rem) 0 0;
    padding-left: min(0.3225806452vw, 0.25rem);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: min(3.1451612903vw, 2.4375rem);
    left: max(-0.564516129vw, -0.4375rem);
  }
}
.price-top__flow {
  font-size: 3.0769230769vw;
  display: flex;
  justify-content: flex-end;
  padding-right: 2.8205128205vw;
}
@media screen and (min-width: 768px) {
  .price-top__flow {
    margin-top: min(1.6129032258vw, 1.25rem);
    font-size: min(0.9677419355vw, 0.75rem);
    padding-right: 0;
  }
}
.price-top__flow span {
  font-weight: 700;
  margin-left: 2.0512820513vw;
}
@media screen and (min-width: 768px) {
  .price-top__flow span {
    margin-left: min(0.6451612903vw, 0.5rem);
  }
}

.price-gallery {
  margin-bottom: 8.7179487179vw;
  width: 100%;
  padding-left: 3.5897435897vw;
  padding-right: 3.5897435897vw;
  padding-top: 0.2564102564vw;
}
@media screen and (min-width: 768px) {
  .price-gallery {
    margin-bottom: 0;
    padding-top: min(3.8709677419vw, 3rem);
    padding-left: 0;
    padding-right: 0;
  }
}
.price-gallery__wrapper {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .price-gallery__wrapper {
    width: min(94.3548387097vw, 73.125rem);
  }
}
.price-gallery__title {
  font-size: 5.641025641vw;
  border-bottom: #ddd solid 0.7692307692vw;
  height: 11.7948717949vw;
  position: relative;
  width: 92.0512820513vw;
  margin: 0 auto 6.1538461538vw;
}
@media screen and (min-width: 768px) {
  .price-gallery__title {
    margin-bottom: min(2.5806451613vw, 2rem);
    font-size: min(2.2580645161vw, 1.75rem);
    width: min(64.5967741935vw, 50.0625rem);
    height: min(5.6451612903vw, 4.375rem);
    border-bottom: #ddd solid min(0.4838709677vw, 0.375rem);
  }
}
.price-gallery__title::after {
  content: "";
  display: block;
  width: 12.8205128205vw;
  height: 0.7692307692vw;
  background-color: #168352;
  position: absolute;
  bottom: -0.7692307692vw;
  left: 0.2564102564vw;
}
@media screen and (min-width: 768px) {
  .price-gallery__title::after {
    content: "";
    width: min(8.064516129vw, 6.25rem);
    height: min(0.4838709677vw, 0.375rem);
    bottom: max(-0.4838709677vw, -0.375rem);
    left: min(0.0806451613vw, 0.0625rem);
  }
}
.price-gallery__img {
  width: 91.7948717949vw;
  height: 60.7692307692vw;
  display: block;
  margin: 0 auto 4.6153846154vw;
}
@media screen and (min-width: 768px) {
  .price-gallery__img {
    width: min(64.5161290323vw, 50rem);
    height: min(40.3225806452vw, 31.25rem);
    margin-bottom: 0;
  }
}
.price-gallery .swiper-pagination-bullet {
  background-color: #eeeeee;
  opacity: 0.8;
  height: 2.0512820513vw;
  width: 2.0512820513vw;
}
@media screen and (min-width: 768px) {
  .price-gallery .swiper-pagination-bullet {
    height: min(0.6451612903vw, 0.5rem);
    width: min(0.6451612903vw, 0.5rem);
  }
}
.price-gallery .price-gallery__wrapper .swiper-pagination-bullet-active {
  background-color: #168352;
  height: 2.0512820513vw;
  width: 2.0512820513vw;
}
@media screen and (min-width: 768px) {
  .price-gallery .price-gallery__wrapper .swiper-pagination-bullet-active {
    height: min(0.6451612903vw, 0.5rem);
    width: min(0.6451612903vw, 0.5rem);
  }
}
.price-gallery .price-gallery__wrapper .swiper-horizontal > .swiper-pagination-bullets, .price-gallery .swiper-pagination-bullets.swiper-pagination-horizontal, .price-gallery .swiper-pagination-custom, .price-gallery .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 4.6153846154vw);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .price-gallery .price-gallery__wrapper .swiper-horizontal > .swiper-pagination-bullets, .price-gallery .swiper-pagination-bullets.swiper-pagination-horizontal, .price-gallery .swiper-pagination-custom, .price-gallery .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, min(1.4516129032vw, 1.125rem));
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
  }
}

.price-feature {
  margin-bottom: 12.8205128205vw;
  width: 100%;
  padding-top: 0.2564102564vw;
}
@media screen and (min-width: 768px) {
  .price-feature {
    margin-bottom: min(4.0322580645vw, 3.125rem);
    padding-top: min(4.5161290323vw, 3.5rem);
  }
}
.price-feature__wrapper {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .price-feature__wrapper {
    width: min(94.3548387097vw, 73.125rem);
  }
}
.price-feature__title {
  font-size: 5.641025641vw;
  border-bottom: #ddd solid 0.7692307692vw;
  height: 11.7948717949vw;
  position: relative;
  width: 92.0512820513vw;
  margin: 0 auto 6.1538461538vw;
}
@media screen and (min-width: 768px) {
  .price-feature__title {
    margin-bottom: min(2.5806451613vw, 2rem);
    font-size: min(2.2580645161vw, 1.75rem);
    width: min(64.5967741935vw, 50.0625rem);
    height: min(5.6451612903vw, 4.375rem);
    border-bottom: #ddd solid min(0.4838709677vw, 0.375rem);
  }
}
.price-feature__title::after {
  content: "";
  display: block;
  width: 12.8205128205vw;
  height: 0.7692307692vw;
  background-color: #168352;
  position: absolute;
  bottom: -0.7692307692vw;
  left: 0.2564102564vw;
}
@media screen and (min-width: 768px) {
  .price-feature__title::after {
    content: "";
    width: min(8.064516129vw, 6.25rem);
    height: min(0.4838709677vw, 0.375rem);
    bottom: max(-0.4838709677vw, -0.375rem);
    left: min(0.0806451613vw, 0.0625rem);
  }
}
@media screen and (min-width: 768px) {
  .price-feature__container {
    display: flex;
    width: min(64.5967741935vw, 50.0625rem);
    margin: 0 auto;
    justify-content: space-between;
    gap: min(2.5vw, 1.9375rem);
  }
}
.price-feature__card {
  width: 91.8461538462vw;
  margin: 0 auto 8.7179487179vw;
}
@media screen and (min-width: 768px) {
  .price-feature__card {
    width: min(19.8387096774vw, 15.375rem);
    margin-bottom: 0;
  }
}
.price-feature__img {
  width: 91.7948717949vw;
  height: 51.2820512821vw;
  display: block;
  margin: 0 auto 1.7948717949vw;
}
@media screen and (min-width: 768px) {
  .price-feature__img {
    width: min(19.8387096774vw, 15.375rem);
    height: min(12.0967741935vw, 9.375rem);
    margin-bottom: 0;
  }
}
.price-feature__text {
  font-size: 4.6153846154vw;
  font-weight: 700;
  width: 91.5384615385vw;
  line-break: anywhere;
}
@media screen and (min-width: 768px) {
  .price-feature__text {
    margin-top: min(0.6451612903vw, 0.5rem);
    font-size: min(1.4516129032vw, 1.125rem);
    width: min(19.8387096774vw, 15.375rem);
  }
}
@media screen and (min-width: 768px) {
  .price-feature__br {
    display: none;
  }
}

.price-hope {
  margin-bottom: 11.0256410256vw;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .price-hope {
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.price-hope__wrapper {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .price-hope__wrapper {
    width: min(94.3548387097vw, 73.125rem);
  }
}
.price-hope__title {
  font-size: 5.641025641vw;
  border-bottom: #ddd solid 0.7692307692vw;
  height: 11.7948717949vw;
  position: relative;
  width: 92.0512820513vw;
  margin: 0 auto 2.0512820513vw;
}
@media screen and (min-width: 768px) {
  .price-hope__title {
    margin-bottom: min(1.3709677419vw, 1.0625rem);
    font-size: min(2.2580645161vw, 1.75rem);
    width: min(64.5967741935vw, 50.0625rem);
    height: min(5.6451612903vw, 4.375rem);
    border-bottom: #ddd solid min(0.4838709677vw, 0.375rem);
  }
}
.price-hope__title::after {
  content: "";
  display: block;
  width: 12.8205128205vw;
  height: 0.7692307692vw;
  background-color: #168352;
  position: absolute;
  bottom: -0.7692307692vw;
  left: 0.2564102564vw;
}
@media screen and (min-width: 768px) {
  .price-hope__title::after {
    content: "";
    width: min(8.064516129vw, 6.25rem);
    height: min(0.4838709677vw, 0.375rem);
    bottom: max(-0.4838709677vw, -0.375rem);
    left: min(0.0806451613vw, 0.0625rem);
  }
}
.price-hope__cost {
  font-size: 8.2051282051vw;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #168352;
  width: 92.0512820513vw;
  margin: 0 auto 1.7948717949vw;
  padding-left: 0.2564102564vw;
}
@media screen and (min-width: 768px) {
  .price-hope__cost {
    font-size: min(2.5806451613vw, 2rem);
    width: min(64.5161290323vw, 50rem);
    margin-bottom: 0;
    padding-left: 0;
  }
}
.price-hope__cost span {
  font-size: 4.1025641026vw;
  font-family: "Noto Sans JP", sans-serif;
  margin-left: 2.5641025641vw;
}
@media screen and (min-width: 768px) {
  .price-hope__cost span {
    font-size: min(1.2903225806vw, 1rem);
    margin-left: min(0.8064516129vw, 0.625rem);
  }
}

.price-spec {
  margin-bottom: 13.0769230769vw;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .price-spec {
    margin-bottom: 0;
    padding-top: min(3.7903225806vw, 2.9375rem);
    padding-left: 0;
    padding-right: 0;
  }
}
.price-spec__wrapper {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .price-spec__wrapper {
    width: min(94.3548387097vw, 73.125rem);
  }
}
.price-spec__title {
  font-size: 5.641025641vw;
  border-bottom: #ddd solid 0.7692307692vw;
  height: 11.7948717949vw;
  position: relative;
  width: 92.0512820513vw;
  margin: 0 auto 2.0512820513vw;
}
@media screen and (min-width: 768px) {
  .price-spec__title {
    margin-bottom: min(1.3709677419vw, 1.0625rem);
    font-size: min(2.2580645161vw, 1.75rem);
    width: min(64.5967741935vw, 50.0625rem);
    height: min(5.6451612903vw, 4.375rem);
    border-bottom: #ddd solid min(0.4838709677vw, 0.375rem);
  }
}
.price-spec__title::after {
  content: "";
  display: block;
  width: 12.8205128205vw;
  height: 0.7692307692vw;
  background-color: #168352;
  position: absolute;
  bottom: -0.7692307692vw;
  left: 0.2564102564vw;
}
@media screen and (min-width: 768px) {
  .price-spec__title::after {
    content: "";
    width: min(8.064516129vw, 6.25rem);
    height: min(0.4838709677vw, 0.375rem);
    bottom: max(-0.4838709677vw, -0.375rem);
    left: min(0.0806451613vw, 0.0625rem);
  }
}
.price-spec__container {
  width: 92.0512820513vw;
  margin: 0 auto;
  padding-top: 3.0769230769vw;
}
@media screen and (min-width: 768px) {
  .price-spec__container {
    width: min(64.5967741935vw, 50.0625rem);
    padding-top: min(0.8870967742vw, 0.6875rem);
  }
}
.price-spec__logo {
  font-size: 5.1282051282vw;
  font-weight: 700;
  padding-left: 4.8717948718vw;
  margin-bottom: 4.1025641026vw;
  position: relative;
}
@media screen and (min-width: 768px) {
  .price-spec__logo {
    font-size: min(1.935483871vw, 1.5rem);
    padding-left: min(1.6129032258vw, 1.25rem);
    margin-bottom: min(1.8548387097vw, 1.4375rem);
    margin-left: min(2.4193548387vw, 1.875rem);
  }
}
.price-spec__logo::before {
  content: "";
  display: block;
  width: 0.5128205128vw;
  height: 7.6923076923vw;
  background-color: #168352;
  position: absolute;
  bottom: 0.2564102564vw;
  left: 0.2564102564vw;
}
@media screen and (min-width: 768px) {
  .price-spec__logo::before {
    width: min(0.2419354839vw, 0.1875rem);
    height: min(3.2258064516vw, 2.5rem);
    bottom: min(0.0806451613vw, 0.0625rem);
    left: min(0.0806451613vw, 0.0625rem);
  }
}
@media screen and (min-width: 768px) {
  .price-spec__row {
    display: flex;
    width: min(59.6774193548vw, 46.25rem);
    margin: 0 auto;
  }
}
.price-spec__heading {
  font-size: 4.1025641026vw;
  font-weight: 700;
  background-color: #f5f5f5;
  border: #ddd 0.2564102564vw solid;
  width: 91.7948717949vw;
  height: 10vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 4.8717948718vw;
}
@media screen and (min-width: 768px) {
  .price-spec__heading {
    font-size: min(1.2903225806vw, 1rem);
    border: #ddd min(0.0806451613vw, 0.0625rem) solid;
    width: min(16.1290322581vw, 12.5rem);
    height: min(5.0806451613vw, 3.9375rem);
    padding-left: min(1.5322580645vw, 1.1875rem);
  }
}
.price-spec__text {
  font-size: 4.1025641026vw;
  font-weight: 400;
  background-color: #fff;
  border: #ddd 0.2564102564vw solid;
  width: 91.7948717949vw;
  height: 10vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 4.8717948718vw;
}
@media screen and (min-width: 768px) {
  .price-spec__text {
    font-size: min(1.2903225806vw, 1rem);
    border: #ddd min(0.0806451613vw, 0.0625rem) solid;
    width: min(43.6290322581vw, 33.8125rem);
    height: min(5.0806451613vw, 3.9375rem);
    padding-left: min(1.8548387097vw, 1.4375rem);
  }
}

.price-inquiry {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/image/price_inquiry_sp.jpg);
  background-position: center;
  background-size: cover;
  height: 92.3076923077vw;
  width: 100%;
  padding-top: 35.8974358974vw;
  margin-top: 16.6666666667vw;
}
@media screen and (min-width: 768px) {
  .price-inquiry {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/image/price_inquiry_pc.jpg);
    height: min(36.2903225806vw, 28.125rem);
    width: 100%;
    padding-top: min(14.8387096774vw, 11.5rem);
    margin-top: min(5.8870967742vw, 4.5625rem);
  }
}
.price-inquiry__wrapper {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .price-inquiry__wrapper {
    width: min(94.3548387097vw, 73.125rem);
  }
}
.price-inquiry a {
  width: 91.7948717949vw;
  height: 20.5128205128vw;
  font-size: 5.1282051282vw;
  font-weight: 700;
  color: #fff;
  border: #fff 0.2564102564vw solid;
  border-radius: 10.2564102564vw;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .price-inquiry a {
    width: min(28.8709677419vw, 22.375rem);
    height: min(6.4516129032vw, 5rem);
    font-size: min(1.6129032258vw, 1.25rem);
    border: #fff min(0.1612903226vw, 0.125rem) solid;
    border-radius: min(3.2258064516vw, 2.5rem);
  }
}

.faq-header {
  color: #168352;
}

.faq-top {
  margin-top: 16.1538461538vw;
  margin-bottom: 6.1538461538vw;
  padding-left: 3.5897435897vw;
  padding-right: 3.5897435897vw;
  width: 100%;
  padding-top: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .faq-top {
    margin-top: min(9.1935483871vw, 7.125rem);
    padding-top: min(3.064516129vw, 2.375rem);
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.faq-top__wrapper {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .faq-top__wrapper {
    width: min(96.7741935484vw, 75rem);
    position: relative;
  }
}
.faq-top__img {
  width: 91.7948717949vw;
  height: 58.9743589744vw;
  display: block;
  margin: 0 auto 4.6153846154vw;
}
@media screen and (min-width: 768px) {
  .faq-top__img {
    width: min(96.7741935484vw, 75rem);
    height: min(44.3548387097vw, 34.375rem);
    margin-bottom: 0;
  }
}
.faq-top__title {
  margin-bottom: 4.358974359vw;
  font-size: 7.6923076923vw;
  margin-left: 0.5128205128vw;
}
@media screen and (min-width: 768px) {
  .faq-top__title {
    margin-bottom: 0;
    font-size: min(2.9032258065vw, 2.25rem);
    font-weight: 700;
    width: min(26.3709677419vw, 20.4375rem);
    height: min(9.1129032258vw, 7.0625rem);
    background-color: #fff;
    border-radius: 0 min(3.2258064516vw, 2.5rem) 0 0;
    padding-left: min(0.3225806452vw, 0.25rem);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: min(3.1451612903vw, 2.4375rem);
    left: max(-0.564516129vw, -0.4375rem);
  }
}
.faq-top__flow {
  font-size: 3.0769230769vw;
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .faq-top__flow {
    margin-top: min(1.5322580645vw, 1.1875rem);
    font-size: min(0.9677419355vw, 0.75rem);
  }
}
.faq-top__flow span {
  font-weight: 700;
  margin-left: 2.0512820513vw;
}
@media screen and (min-width: 768px) {
  .faq-top__flow span {
    margin-left: min(0.6451612903vw, 0.5rem);
  }
}

.faq {
  width: 100%;
  padding-top: 2.5641025641vw;
  margin-bottom: 43.5897435897vw;
  position: relative;
}
@media screen and (min-width: 768px) {
  .faq {
    padding-top: min(4.8387096774vw, 3.75rem);
    margin-bottom: min(13.7096774194vw, 10.625rem);
  }
}
.faq__wrapper {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .faq__wrapper {
    width: min(96.7741935484vw, 75rem);
  }
}
.faq__card {
  width: 91.7948717949vw;
  margin: 0 auto;
  border-radius: 4.1025641026vw;
  border: #ddd 0.2564102564vw solid;
  margin-bottom: 5.3076923077vw;
  padding-bottom: 4.358974359vw;
}
@media screen and (min-width: 768px) {
  .faq__card {
    width: min(64.5161290323vw, 50rem);
    border-radius: min(1.2903225806vw, 1rem);
    border: #ddd min(0.0806451613vw, 0.0625rem) solid;
    margin-bottom: min(1.935483871vw, 1.5rem);
    padding-bottom: min(1.25vw, 0.96875rem);
  }
}
.faq__heading {
  padding-top: 5.8974358974vw;
  padding-left: 5.8974358974vw;
  padding-right: 5.8974358974vw;
}
@media screen and (min-width: 768px) {
  .faq__heading {
    padding-top: min(1.8548387097vw, 1.4375rem);
    padding-left: min(2.3387096774vw, 1.8125rem);
    padding-right: min(2.3387096774vw, 1.8125rem);
  }
}
.faq__item {
  display: flex;
  justify-content: space-between;
  height: 6.1538461538vw;
}
@media screen and (min-width: 768px) {
  .faq__item {
    height: min(1.935483871vw, 1.5rem);
  }
}
.faq__question {
  font-size: 6.1538461538vw;
  font-weight: 700;
  font-family: "Montserrat", serif;
  color: #168352;
  line-height: 0.9;
}
@media screen and (min-width: 768px) {
  .faq__question {
    font-size: min(1.935483871vw, 1.5rem);
  }
}
.faq__category1 {
  margin-left: 5%;
  margin-right: auto;
  font-size: 2.8205128205vw;
  color: #168352;
  border: #168352 0.2564102564vw solid;
  box-sizing: border-box;
  width: 25.641025641vw;
  height: 6.1538461538vw;
  text-align: center;
  border-radius: 1.0256410256vw;
}
@media screen and (min-width: 768px) {
  .faq__category1 {
    margin-left: 2.1%;
    margin-right: auto;
    font-size: min(0.8870967742vw, 0.6875rem);
    border: #168352 min(0.0806451613vw, 0.0625rem) solid;
    width: min(8.064516129vw, 6.25rem);
    height: min(1.935483871vw, 1.5rem);
    border-radius: min(0.3225806452vw, 0.25rem);
  }
}
.faq__category2 {
  margin-left: auto;
  margin-right: 11.5%;
  font-size: 2.8205128205vw;
  color: #168352;
  border: #168352 0.2564102564vw solid;
  width: 25.641025641vw;
  height: 6.1538461538vw;
  text-align: center;
  border-radius: 1.0256410256vw;
}
@media screen and (min-width: 768px) {
  .faq__category2 {
    margin-left: auto;
    margin-right: 63%;
    font-size: min(0.8870967742vw, 0.6875rem);
    border: #168352 min(0.0806451613vw, 0.0625rem) solid;
    width: min(8.064516129vw, 6.25rem);
    height: min(1.935483871vw, 1.5rem);
    border-radius: min(0.3225806452vw, 0.25rem);
  }
}
.faq__icon1 {
  font-size: 6.1538461538vw;
  line-height: 0.9;
  display: none;
}
@media screen and (min-width: 768px) {
  .faq__icon1 {
    font-size: min(1.935483871vw, 1.5rem);
  }
}
.faq__icon2 {
  font-size: 6.1538461538vw;
  line-height: 0.9;
}
@media screen and (min-width: 768px) {
  .faq__icon2 {
    font-size: min(1.935483871vw, 1.5rem);
  }
}
.faq__title {
  font-size: 4.1025641026vw;
  font-weight: 700;
  width: 59.2307692308vw;
  margin: 0 auto;
  padding-left: 0.5128205128vw;
  line-break: anywhere;
}
@media screen and (min-width: 768px) {
  .faq__title {
    font-size: min(1.4516129032vw, 1.125rem);
    width: min(54.0322580645vw, 41.875rem);
    padding-left: min(0.7258064516vw, 0.5625rem);
    margin-top: min(0.7258064516vw, 0.5625rem);
  }
}
.faq__answer {
  width: 79.2923076923vw;
  margin: 0.7692307692vw auto 0.5384615385vw;
  font-size: 4.1025641026vw;
  line-break: anywhere;
  padding-left: 0.2564102564vw;
  display: none;
}
@media screen and (min-width: 768px) {
  .faq__answer {
    width: min(59.3596774194vw, 46.00375rem);
    margin: min(1.2903225806vw, 1rem) auto min(0.1693548387vw, 0.13125rem);
    font-size: min(1.2903225806vw, 1rem);
    line-break: anywhere;
    padding-left: min(0.0806451613vw, 0.0625rem);
  }
}
.faq__card:nth-of-type(11) .faq__answer {
  width: 79.2923076923vw;
  margin: 2.5641025641vw auto 0.2564102564vw;
  font-size: 4.1025641026vw;
  line-break: anywhere;
  padding-left: 0.7692307692vw;
  display: none;
}
@media screen and (min-width: 768px) {
  .faq__card:nth-of-type(11) .faq__answer {
    width: min(59.3596774194vw, 46.00375rem);
    margin: min(1.2903225806vw, 1rem) auto min(0.1693548387vw, 0.13125rem);
    font-size: min(1.2903225806vw, 1rem);
    line-break: anywhere;
    padding-left: min(0.0806451613vw, 0.0625rem);
  }
}

.footer__outer {
  position: relative;
  height: 327.6923076923vw;
}
@media screen and (min-width: 768px) {
  .footer__outer {
    height: min(0vw, 0rem);
  }
}

.faq__footer {
  position: fixed;
  bottom: 0;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}/*# sourceMappingURL=main.css.map */